################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AngularApp/.vs/AngularApp/v15/Server/sqlite3
